modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 6000

[[ports]]
localPort = 33025
externalPort = 9000

[[ports]]
localPort = 33333
externalPort = 8081

[[ports]]
localPort = 33635
externalPort = 4200

[[ports]]
localPort = 33889
externalPort = 3001

[[ports]]
localPort = 34145
externalPort = 5173

[[ports]]
localPort = 39927
externalPort = 8000

[[ports]]
localPort = 41801
externalPort = 3002

[[ports]]
localPort = 42095
externalPort = 6800

[[ports]]
localPort = 42525
externalPort = 3003

[[ports]]
localPort = 43347
externalPort = 8008

[[ports]]
localPort = 43801
externalPort = 8099

[[ports]]
localPort = 44503
externalPort = 5000

[[ports]]
localPort = 45875
externalPort = 8080

[[ports]]
localPort = 46873
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_anthropic_ai_integrations:1.0.0", "javascript_database:1.0.0", "javascript_anthropic:1.0.0", "stripe:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
VITE_WALLETCONNECT_PROJECT_ID = "ff0c2429cd2131757fd079c6e3fe474d"
